<% include partials/header %>

<div class="container text-center">

<img class="sofa" src="https://openclipart.org/image/2400px/svg_to_png/195800/1406869442.png">

<img class="potato" src="http://www.iconhot.com/icon/png/pickin-time/256/potato.png">

</div>

<% include partials/footer %>