<% include ../partials/header %>



<div class="container">
<div id="search-items">
  <h3>Search Results</h3>

<% for (i = 0; i < Search.length; i += 1) { %>

      <div class="search-results">
      <h4>
      <a href=<%= "/movies/" + Search[i].imdbID %>><%= Search[i].Title %></a> <small>(<%= Search[i].Year %>)</small></h4></div>
      <% } %>
</div>
</div>

<% include ../partials/footer %>